
* {
    margin: 0;
    padding: 0;
    user-select: none;
    z-index: 1;
}

body {
    background-image: url("./pexels-madison-inouye-1831234.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 1050px;
}

.text {
    display: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    border-bottom: solid #fff;
}

.header img {
    width: 30%;
    height: 100px;
}

.show img {
    width: 100%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-left:solid #fff;
    border-right:solid #fff;
    border-radius: 10px;
}


.menu1, .menu2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    
}
.menu1 video{
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 10px;
    
}
.menu2 video{
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 10px;
}
/* #topic img{
    animation-name: chu;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate; 
}
@keyframes chu{ 
    from{transform: translatey(0px);}
    to{transform: translatey(20px);} 
} */
#topic img:hover{
    transition: 0.5s;
    -webkit-transform: scale(1.1,1.1);
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.music {
    width: 80%;
    height: 100px;
    margin-bottom: 50px;
    font-family: "Oswald";
    background: linear-gradient(45deg, lightyellow, lightcoral);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 80px;
}

.cd {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    
}

.cd img {
    
    border-radius: 45px;
    width: 100%;
    margin-left: -10px;
}

.anh img {
    width: 80%;
}

.show {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 80%;
    height: 500px;
    border-radius: 10px;
    position: relative;
    animation: showimg 21s ease infinite;
}

@keyframes showimg{
   0%   {background-image: url("./pexels-anna-shvets-4226600.jpg");}
   25%  {background-image: url("./pexels-anna-shvets-3902732.jpg");}
   50%  {background-image: url("./pexels-august-de-richelieu-4261252.jpg");}
   75%  {background-image: url("./pexels-cottonbro-3951628.jpg");}
   100% {background-image: url("./pexels-cottonbro-3952234.jpg");}
}
.show div{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: wheat;
    background-image: url(./background.jpg);
    background-size: 100% 100%;
    display: none;
}
.show .text2{
    animation: text2 10s ease infinite;

}
@keyframes text2{
    0%   {background-image: url("./tc.jpg");}
   25%  {background-image: url("./tc4.jpg");}
   50%  {background-image: url("./tc3.jpg");}
   75%  {background-image: url("./tc1.jpg");}
   100% {background-image: url("./tc5.jpg");}
}
.show div p{
    font-size: 1.2em;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 20px 0 20px;
    text-align: justify;
}
.show img{
    max-width: 100%;
    max-height: 500px;
    position: absolute;
    border-radius: 10px;
    
}

@keyframes show{
    from{opacity: 0;};
    to{opacity: 1;}
}


.musics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
}

.name {
    font-size: 1.2em;
    padding-bottom: 10px;
}

.times {
    width: 100%;
    height: 5px;
    background: linear-gradient(45deg, white,red, lightcoral);
    border-radius: 10px;
}

.time {
    width: 0;
    max-width: 100%;
    height: 5px;
    background-color: aqua;
    border-radius: 10px;
}

.control {
    width: 30px;
    height: 30px;
    background: linear-gradient(45deg, white, lime, limegreen, lightgreen);
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    text-shadow: 0 0 10px #000;
}

.control i:nth-child(3) {
    display: none;
}
@keyframes Rotate{
    0%
    {
        transform: rotate(0deg);    
    }
    100%
    {
        transform: rotate(360deg);
    }
}


#menu{
    width: 50px;
    height: 50px;
    background-color:violet;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    border-radius: 50%;
    transform: translateX(-50%);
    left:20px;
    top: 20px;
    z-index: 20;
    animation-name: Rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#menu::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background: white;
    transform: translateY(-5px);
    transition: 0.2s;
}
#menu::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background: white;
    transform: translateY(5px);
    transition: 0.2s;
}
#menu.active::before{
    transform: translateY(0px) rotate(45deg);
}
#menu.active::after{
    transform: translateY(0px) rotate(-45deg);
}
#content{
    position: fixed;
    width: 100%;
    height: 1070px;
    left: -100%;
    background-image: url(./background.jpg);
    transition: 1s;
    z-index: 3;
    
}
#content.active{
    transform: translateX(100%);
}
.container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
}
.container #content .sidebar{
    width: 30%;
    height: 68%;
    position: absolute;
    border-right: solid #fff;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.container #content .sidebar div{
    border: solid #fff;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
    color: #fff;
    font-size: 1.2em;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container #content .sidebar div:hover p{
    transition: 1s;
    color: orange;
    -webkit-transform: scale(1,2);
    margin-top: 10px;   
}
.container #content .sidebar div:hover{
    border: solid orange;
}

.container #content .sidebars{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    float: right;
}
.container #content .sidebars .titleimg{
    position: absolute;
    left: 30%;
    width: 69%;
    height: 12%;
    border-radius: 20px;
    border: solid #fff;
    background-image: url(./logo.gif);
    background-repeat: no-repeat;
    background-size: 40% 100%;
    background-position-x: 50%;
    
}
.container #content .sidebars .noidung{

    background-size: 100% 100%;
    position: absolute;
    left: 30%;
    top: 12.3%;
    width: 69%;
    height: 56%;
    border-radius: 20px;
    border: solid #fff;
    display: flex;
    justify-content: center;
    
    animation: anhnen 21s ease infinite;
}
.container #content .sidebars .noidung div{
    display: none;
    font-size: 1.2em;
    padding: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;;
}
.nd1 img{
    border-radius: 10px;
    height: 342px;
    top: 38%;
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    
}

@keyframes anhnen{
   0%   {background-image: url("./pexels-anna-shvets-3943882.jpg");}
   25% {background-image: url("./pexels-cottonbro-3923156.jpg");}
   50%  {background-image: url("./pexels-cottonbro-3951364.jpg");}
   75%  {background-image: url("./pexels-miguel-á-padriñán-3936421.jpg");} 
   100%  {background-image: url("./pexels-cottonbro-3952231.jpg");}
}
@keyframes nen{
   0%   {background-color:orange ;}
   25%  {background-color: #F62682;}
   50%  {background-color: #20E3B2;}
   75%  {background-color: #6A5AF9;}
   100% {background-color: #3D6EF7;}
}
.footer{
    width: 100%;
    height: 90px;
    border-radius: 20px;
    border: solid #fff;
    margin-top: 5%;
    font-size: 1.2em;
    background-image: url(./gbf.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
@keyframes foot{
    0%{color: #000;}
    25%{color:brown;}
    50%{color: chartreuse;}
    75%{color:darkblue}
    100%{color: aqua;}
}
.footer .f1{
    text-align: center;
    animation: foot 2s ease infinite;
   
}
.footer .f2{
    margin-top: -20px;
    
    font-family: Arial, Helvetica, sans-serif;
}
.footer .f3 img{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.show2{
    height:96%;
    position: relative;
    background-color: lavenderblush;
    display: none;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 10px;
}
.show2 img{
    margin: 5px 0 5px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border-radius: 10px;
}
@media only screen and (max-width: 812px) {
    .titleimg{
        display: none;
    }
    div.noidung{
        display: none;
    }
    #menu{
        display: none;
    }
    .show2{
        display: block;
        top: -10.5%;}
    body{
        height: 325em;
    }
    .footer{display: none;}
    .menu1 , .menu2{
        display: none;
    }
    div.main{
        border: none;
    }
 
    .header{
        height: 50px;
    }
    .header img {
        position: absolute;
        top: 4px;
        height: 58px;
    }
    div.music{
      
        height: 70px;
        margin-top: -36px;
        
    }
    .anh img {
        width: 90%;
        margin-right: -62px;
    }
    .name {
        font-size: 0.9em;
    }
    .cd img {
        width: 70%;
        margin-left: 5px;
        margin-top: 14px;
    }
}